/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*
* Style edits for Carrera Airways by Marcus Blom
* 
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */


/* #Reset & Basics
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }

/* #Basic Styles
================================================== */
body {
		background-color: #81b9e8;
		font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #444;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }

table {
	width: 100%;
	border-collapse: collapse;
	}

th {
	font-weight: bold;
}

td {
	text-align: center;
}


.container {
	margin-top: 40px;
}

.error-message {
	font-size: 0.8em;
	padding-left: 8px;
	margin-top: -16px;
	margin-bottom: 22px;
	font-style: italic;
	color: #fff;
	width: 50%;
	background-color:#a04e41;
}

.container-bg {
	background-color: white;
}

.edit-bg {
	background-color: white;
	padding: 24px;
}

.message {
	margin-top: 34px;
	margin-bottom: 22px;
	padding: 28px;
}

#header {
	margin-bottom: 40px;
	border-bottom: solid 5px white;
	border-top: solid 5px white;
	}

#logo {
	background: #ffffff url('../img/logo.png');
	width: 220px;
	height: 100px;
}

#footer {
		margin-bottom: 40px;
		border-bottom: solid 5px white;
		border-top: solid 5px white;
		color: white;
		font-size: 0.8em;
		text-align: center;
}

/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #181818;
		font-weight: bold;
		letter-spacing: -0.08em;
		margin-right: 10%;
		font-family: "Helvetica", "Arial", sans-serif;}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 6em; line-height: 100px; color: white;}
	h2 { font-size: 2.2em; line-height: 34px; margin-bottom: 20px; color: #666; font-family: "Garamond", serif; font-style: italic; letter-spacing: 0em; font-weight: normal;}
	h3 { font-size: 2.8em; line-height: 1em; margin-bottom: 10px; margin-top: 20px; color: white;}
	h4 { font-size: 1.8em; line-height: 1.2em; margin-bottom: 20px; color: #999; font-family: "Garamond", serif; font-style: italic; letter-spacing: 0em; font-weight: normal;}
	h5 { font-size: 1.5px; line-height: 24px; }
	h6 { font-size: 1.3px; line-height: 21px; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }

	.centertext {text-align: center}

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; } */


/* #Links
================================================== */
	a, a:visited { color: #333; text-decoration: underline; outline: 0; }
	a:hover, a:focus { color: #000; }
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 0px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }


/* #Buttons
================================================== */

	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		float: right;
		background: #81b9e8;
	  border: 6px solid #fff;
	  -moz-border-radius: 0.5em;
	  -webkit-border-radius: 0.5em;
	  border-radius: 0.5em;
	  color: #fff;
	  display: inline-block;
	  font-size: 1.4em;
	  font-weight: bold;
	  text-decoration: none;
	  text-shadow: 0 2px #6ba4d4;
	  cursor: pointer;
	  margin-top: 0px;
		margin-bottom: 20px;
	  line-height: normal;
	  padding: 1em 1.8em;
		box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
	  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		background: #8bc1ef;
	  margin-top: -1px;
		margin-bottom: 21px;
	}

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
background: #77aedd;
		margin-top: 0px;
		margin-bottom: 20px;
	  
}

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}


/* #Forms
================================================== */

	form {
		margin-bottom: 20px; }
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ccc;
		padding: 6px 4px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 100%;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff; 
		width: 97%;}
	select {
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #aaa;
 		color: #444;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 14px;
		color: white;}
	select {
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }
	
	.preload * {
	  -webkit-transition: none !important;
	  -moz-transition: none !important;
	  -ms-transition: none !important;
	  -o-transition: none !important;
	}
	


