<body class="solidbg">
	<div class="container">
	<div class="eight columns">
		<h1>Tävlande</h1>
		<div class="edit-bg">
		<h2><?php echo h($entry['Entry']['firstname']); ?> <?php echo h($entry['Entry']['lastname']); ?></h2>
		<p><?php echo h($entry['Entry']['email']); ?></p>
		<p><?php echo h($entry['Entry']['phone']); ?></p>
		<p><?php echo h($entry['Entry']['address']); ?></p>
		<p><small>Skapad: <?php echo $entry['Entry']['created']; ?></small></p>
		</div>
	</div>
</div><!-- container -->
</body>